{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

<h1>{{ title }}</h1>
    <div class="new-item-container">
        <h3 style="text-align: center;">Add an Entry:</h3>
        <form action="{{ post_url }}" method="post" novalidate enctype="multipart/form-data">
            {{ journal_form.hidden_tag() }}
            <table>
                <tr>
                    <th class="bordered-header">Date and Time</th>
                    <th colspan="3" class="bordered-header">Description</th>
                    <th class="bordered-header">Dr/Cr Account</th>
                    <th class="bordered-header">Dr/Cr Amount</th>
                    <th class="bordered-header"></th>
                    <th class="bordered-header"></th>
                </tr>
                <tr>
                    <td rowspan="2" class="bordered-cell">
                        {{ journal_form.timestamp(class="flatpickr") }}
                    </td>
                    <td rowspan="2" colspan="3" class="bordered-cell">{{ journal_form.description }}</td>
                    <td class="bordered-cell right-align-td">{{ journal_form.debited_account_id }}</td>
                    <td class="bordered-cell right-align-td">{{ journal_form.debited_amount }}</td>
                    <td rowspan="2" class="bordered-cell" style="text-align: center;"></td>
                    <td rowspan="2" class="bordered-cell">{{ journal_form.submit(class="button") }}</td>
                </tr>
                <tr>
                    <td class="bordered-cell right-align-td">{{ journal_form.credited_account_id }}</td>
                    <td class="bordered-cell right-align-td">{{ journal_form.credited_amount }}</td>
                </tr>
            </table>
            {% for field, errors in journal_form.errors.items() %}
                <div class="alert alert-error">
                    {{ journal_form[field].label }}: {{ ', '.join(errors) }}
                </div>
            {% endfor %}
        </form>
    </div>
<form action="{{ post_url }}" method="post" novalidate enctype="multipart/form-data">
    {{ range_form.hidden_tag() }}
    <div class="range-select-container">
        <label for="begin-date">Show items from:</label>
        <div id="begin-date" class="range-select"> {{ range_form.begin_date }} </div>
        <label for="end-date">Until:</label>
        <div id="end-date" class="range-select"> {{ range_form.end_date }} </div>
        <label for="account-select">Credited or Debited Account:</label>
        <div id="account-select" class="range-select"> {{ range_form.account_id(class="select-css") }} </div>
        <div class="range-select"> {{ range_form.update(class="button") }} </div>
        <div class="range-select"> {{ range_form.export_selected(class="button") }} </div>
    </div>
</form>

<table>
    <tr>
        <th class="bordered-header">Date and Time</th>
        <th colspan="3" class="bordered-header">Description</th>
        <th class="bordered-header">Dr/Cr Account</th>
        <th class="bordered-header">Dr/Cr Amount</th>
        <th class="bordered-header">Actions</th>
        <th class="bordered-header"></th>
    </tr>
    {% for item in journals %}
        <tr class="journal-top-row">
            <td rowspan="2" style="display:none;">{{ item["id"] }}</td>
            <td rowspan="2" class="bordered-cell journal-cell">
                <input type="text" class="flatpickr" value="{{ item['timestamp'] }}">
            </td>
            <td rowspan = "2" colspan="3" contenteditable="true" class="bordered-cell journal-cell" >{{ item["description"] }}</td>
            <td class="bordered-cell journal-cell right-align-td">
                <select class="select-css">
                    {% for option in account_options %}
                        {% if option[0]|int == item["debited_account_id"] %}
                            <option value="{{ option[0] }}" selected="true">{{ option[1] }}</option>
                        {% else %}
                            <option value="{{ option[0] }}">{{ option[1] }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </td>
            <td contenteditable="true" class="bordered-cell journal-cell right-align-td">{{ item["debited_amount"]|currency }}</td>
            <td rowspan="2" class="bordered-cell" style="text-align: center;">
                <div>
                    <i class="fa fa-trash trash-icon item-icon delete-journal-entry" style="font-size:14px" data-entry-id="{{ item['id'] }}"></i>
                </div>
            </td>
        </tr>
        <tr class="journal-bottom-row">
            <td class="bordered-cell journal-cell right-align-td">
                <select class="select-css">
                    {% for option in account_options %}
                        {% if option[0]|int == item["credited_account_id"] %}
                            <option value="{{ option[0] }}" selected="true">{{ option[1] }}</option>
                        {% else %}
                            <option value="{{ option[0] }}">{{ option[1] }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </td>
            <td contenteditable="true" class="bordered-cell journal-cell right-align-td">{{ item["credited_amount"]|currency }}</td>
        </tr>
    {% endfor %}
</table>
<script> const API_BASE_URL = "{{ api_base_url }}"; </script>
<script src="{{ url_for('journal.static', filename='js/editable_journal.js') }}"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% endblock %}
