.sidebar {
    height: 100%;
    width: 320px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar table {
    padding: 6px 8px 32px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
}

.sidebar-header {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
    display: block;
}

.main {
    margin-left: 320px;
    padding: 0px 10px;
}

.main-header {
    margin-left: 320px;
    padding: 0px 10px;
    font-size: 18px;
}

 .main-header a {
     padding-left: 15px;
     padding-right: 30px;
 }
 table {
     width: 100%;
 }

 th, td {
     padding: 5px;
 }

 .right-align-td {
     text-align: right;
 }

 .left-align-td {
     text-align: left;
 }

.indent-cell {
    padding-left: 5px;
}

 .bordered-cell {
     border-bottom: 1px solid #ddd;
 }

 .bordered-header {
     border-bottom: 1px solid #ddd;
     border-top: 1px solid #ddd;
 }

 .alert-error {
     color: red;
 }

 .range-select-container {
     padding-top: 20px;
     padding-bottom: 20px;
 }

 .range-select {
     display: inline;
     padding-right: 5px;
 }

 .centered-submit-button {
     text-align: center;
     padding-top: 5px;
 }

 a {
     color: darkslategray;
     text-decoration: none;
 }

 a:hover {
     text-decoration: underline;
 }

 .button {
     border: 1px solid #aaa;
     border-radius: 8px;
     background-color: #9fadc4;
     color: black;
     padding: 5px 16px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 12px;
}

.button:hover {
  background-color: lightslategrey;
  color: black;
}

.select-css {
    font-size: 12px;
    color: black;
    padding: 5px 10px 3px 3px;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    border-radius: 8px;
    appearance: none;
    background-color: whitesmoke;
}
.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border-color: #888;
}
.select-css:focus {
    border-color: #aaa;
    color: #222;
    outline: none;
}
.select-css option {
    font-weight:normal;
}

.styled-file-input-container {
    position: relative;
    padding-top: 5px;
}
#file-input {
    z-index: 2;
    position: absolute;
    top: 35px;
    left: -20px;
    opacity: 0;
}

#fake-input-file-browse {
    position: absolute;
    left: 20px;
    top: 30px;
}

#fake-input {
    position: absolute;
    left: 100px;
    top: 35px;
    border: 1px solid #aaa;
    border-radius: 4px;

}

#styled-file-input-submit {
    position: absolute;
    top: 70px;
    left: 20px;

}

.interaction-options {
    font-size: 12px;
}

.interaction-options a {
    padding-right: 2px;
}

.currency-input {
    border: 1px inset #ccc;
}

.currency-input input {
    border: 0;
    width: 150px;
}

.item-icon {
    padding-right: 4px;
}

.item-icon:hover {
    opacity: .6;
}

.new-item-container {
    padding-bottom: 30px;
}

.account-balance-name {
    width: 180px;
    overflow-wrap: break-word;
}
.income-statement-header {
    font-weight: bold;
}
.income-statement-item {
    text-indent: 50px;
}
.income-statement-expense {
    direction: rtl;
    text-indent: 90px;
}
.balance-sheet-options {
    padding-top: 20px;
}