{% extends "base.html" %}

{% block content %}
<h1>Budget</h1>
    <form action="/budget" method="post" novalidate enctype="multipart/form-data">
        {{ range_form.hidden_tag() }}
        <div class="range-select-container">
            <label for="begin-date">Period beginning:</label>
            <div id="begin-date" class="range-select"> {{ range_form.begin_date }} </div>
            <label for="end-date">Period end:</label>
            <div id="end-date" class="range-select"> {{ range_form.end_date }} </div>
            <div class="range-select"> {{ range_form.update(class="button") }} </div>
        </div>
    </form>
    <h3>Primary Categories</h3>
    <table>
        <tr>
            <th class="bordered-header">Account</th>
            <th class="bordered-cell">Previous Total</th>
            <th class="bordered-cell">Allotment</th>
            <th class="bordered-cell">Current Total</th>
            <th class="bordered-cell">Balance</th>
        </tr>
        {% for account in main_categories %}
        <tr>
            <td class="bordered-cell right-align-td">{{ account["category"] }}</td>
            <td class="bordered-cell right-align-td">{{ "${:,.2f}".format(account["last_period_total"]) }}</td>
            <td class="allotment-id" style="display:none;">{{ account["id"] }}</td>
            <td contenteditable="true" class="bordered-cell right-align-td allotment-cell">{{ "${:,.2f}".format(account["allotment"]) }}</td>
            <td class="bordered-cell right-align-td">{{ "${:,.2f}".format(account["soft_total"]) }}</td>
            <td class="bordered-cell right-align-td">{{ "${:,.2f}".format(account["balance"]) }}</td>
        </tr>
        {% endfor %}
    </table>
    <h3>Miscellaneous Categories</h3>
    <table>
        <tr>
            <th class="bordered-header">Account</th>
            <th class="bordered-cell">Previous Total</th>
            <th class="bordered-cell">Current Total</th>
        </tr>
        {% for account in misc_categories %}
        <tr>
            <td class="bordered-cell right-align-td">{{ account["category"] }}</td>
            <td class="bordered-cell right-align-td">{{ "${:,.2f}".format(account["last_period_total"]) }}</td>
            <td class="bordered-cell right-align-td">{{ "${:,.2f}".format(account["soft_total"]) }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<script src="{{ url_for('budget.static', filename='js/editable_allotments.js') }}"></script>
{% endblock %}
