{% extends "base.html" %}

{% block content %}
<script src="{{ url_for('import.static', filename='scripts.js') }}"></script>
<h1>Import a Financial Provider File</h1>
<form action="{{ url_for('import.main') }}" method="post" novalidate enctype="multipart/form-data">
    <div>
        {{ error_message }}
    </div>
    {{ form.hidden_tag() }}
    <div>
        <label>{{ form.provider.label.text }}</label>
        {{ form.provider(class="select-css") }}
    </div>
    <div>
        <label>{{ form.account_id.label.text }}</label>
        {{ form.account_id(class="select-css") }}
    </div>
    <div>
        <label>{{ form.revenue_account_id.label.text }}</label>
        {{ form.revenue_account_id(class="select-css") }}
    </div>
    <div>
        <div class="styled-file-input-container">
            <label>{{ form.uploaded_file.label.text }}</label>
            {{ form.uploaded_file(id="file-input") }}
            <label id="fake-input-file-browse" class="button" for="fake-input">Browse</label>
            <input class="styled-input" id="fake-input" readonly>
            {{ form.submit(id="styled-file-input-submit", class_="button") }}
        </div>
    </div>
</form>

{% endblock %}
