{% extends "base.html" %}

{% block content %}
    <h2>Add New Account</h2>
    <form action="/manage/accounts" method="post" novalidate enctype="multipart/form-data">
        {{ account_form.hidden_tag() }}
        <table>
            <tr>
                <th class="bordered-header">Name</th>
                <th class="bordered-header">Description</th>
                <th class="bordered-header">Balance Type</th>
                <th class="bordered-header">Account Type</th>
                <th class="bordered-header">Financial Statement</th>
            </tr>
            <tr class="table-row">
                <td class="bordered-cell">{{ account_form.human_name }}</td>
                <td class="bordered-cell">{{ account_form.description }}</td>
                <td class="bordered-cell">{{ account_form.balance_type }}</td>
                <td class="bordered-cell">{{ account_form.account_type }}</td>
                <td class="bordered-cell">{{ account_form.financial_statement }}</td>
            </tr>
        </table>
        <div class="centered-submit-button">{{ account_form.submit(class="button") }}</div>
    </form>

    <h1>Accounts</h1>
        <table>
            <tr>
                <th class="bordered-header">Name</th>
                <th class="bordered-header">Description</th>
                <th class="bordered-header">Balance Type</th>
                <th class="bordered-header">Account Type</th>
                <th class="bordered-header">Financial Statement</th>
                <th class="bordered-header">Is Archived?</th>
            </tr>
            {% for account in accounts_table %}
            <tr class="table-row account-row">
                <td class="account-id" style="display:none;">{{ account[0] }}</td>
                <td contenteditable="true" class="bordered-cell account-cell">{{  account[1] }}</td>
                <td contenteditable="true" class="bordered-cell account-cell">{{  account[2] }}</td>
                <td class="bordered-cell right-align-td account-cell">
                    <select class="select-css">
                        {% for option, display in balance_types %}
                            {% if option == account[3] %}
                                <option value="{{ option }}" selected="true">{{ display }}</option>
                            {% else %}
                                <option value="{{ option }}">{{ display }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <td class="bordered-cell right-align-td account-cell">
                    <select class="select-css">
                        {% for option, display in account_types %}
                            {% if option == account[4] %}
                                <option value="{{ option }}" selected="true">{{ display }}</option>
                            {% else %}
                                <option value="{{ option }}">{{ display }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <td class="bordered-cell right-align-td account-cell">
                    <select class="select-css">
                        {% for option, display in financial_statements %}
                            {% if option == account[5] %}
                                <option value="{{ option }}" selected="true">{{ display }}</option>
                            {% else %}
                                <option value="{{ option }}">{{ display }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <td class="bordered-cell right-align-td account-cell">
                    <select class="select-css">
                        {% for option, display in [(True, True), (False, False)] %}
                            {% if account[6] == option %}
                                <option value="{{ option }}" selected="true">{{ display }}</option>
                            {% else %}
                                <option value="{{ option }}">{{ display }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
            {% endfor %}
        </table>


    <script src="{{ url_for('manage.static', filename='js/editable_accounts.js') }}"></script>
{% endblock %}
