<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Fin Hub {{title_appendage}}</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <header class="main-header">
        <hr>
        <a href="/">Dashboard</a>
        <a href="{{ url_for('budget.main') }}">Budget</a>
        <a href="{{ url_for('journal.main') }}">Journal</a>
        <a href="{{ url_for('statements.main') }}">Statements</a>
        <a href="{{ url_for('import.main') }}">Import Transactions</a>
        <a href="{{ url_for('manage.main') }}">Manage</a>
        <hr>
    </header>
    <body>
    <div class="sidebar" id="sidebar">
        <h3 class="sidebar-header">Account Balances</h3>
        <table>
            {% for account_balance in accounts_balances %}
            <tr>
                <td class="account-balance-name">{{ account_balance["account"]["human_name"] }}</td> <td class="right-align-td">{{ account_balance["balance"] }}</td>
            </tr>
            {% endfor %}
        </table>
        <h3 class="sidebar-header">Expense Accounts</h3>
        <table>
            {% for account_balance in expense_accounts_balances %}
                <tr>
                    <td class="account-balance-name">{{ account_balance["account"]["human_name"] }}</td> <td class="right-align-td">{{ account_balance["balance"] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="main">
        {% block content %}{% endblock %}
    </div>
    </body>
    <script src="{{ url_for('static', filename='js/reload_sidebar.js') }}"></script>
</html>