{% extends "base.html" %}

{% block content %}

    <h1>Balance Sheet</h1>
        <Hr>
        <header class="main-header">
            <a href="{{ url_for('statements.balance_sheet')}}">Balance Sheet</a>
            <a href="{{ url_for('statements.income_statement')}}">Income Statement</a>
            <a href="{{ url_for('statements.cash_flow_statement')}}">Cash Flow Statement</a>
        </header>
        <Hr>
        <form action="{{ post_url }}" method="post" novalidate enctype="multipart/form-data">
            {{ quarter_form.hidden_tag() }}
            <div class="range-select-container">
                <label for="cash-flow-quarter-select">Year:</label>
                <div id="cash-flow-quarter-select" class="range-select"> {{ quarter_form.year(class="select-css") }} </div>
                <label for="cash-flow-quarter-select">Quarter:</label>
                <div id="cash-flow-quarter-select" class="range-select"> {{ quarter_form.quarter(class="select-css") }} </div>
                <div class="range-select"> {{ quarter_form.update(class="button") }} </div>
            </div>
        </form>
    <table>
        <tr>
            <th class="bordered-header">{{ header[0] }}</th>
            <th class="bordered-header"></th>
            <th class="bordered-header right-align-td">{{ header[1] }}</th>
            <th class="bordered-header"></th>
            <th class="bordered-header right-align-td">{{ header[2] }}</th>
        </tr>

        <tr>
            <th class="bordered-header"></th>
            <th class="bordered-header">Assets</th>
            <th class="bordered-header"></th>
            <th class="bordered-header"></th>
            <th class="bordered-header"></th>
        </tr>
        <tr>
            <td class="bordered-cell">Cash Assets</td>
            <td class="bordered-cell right-align-td"></td>
            <td class="bordered-cell right-align-td"></td>
            <td class="bordered-cell right-align-td"></td>
            <td class="bordered-cell right-align-td"></td>
        </tr>
        {% for row in display_cash_assets %}
            <tr>
                <td class="bordered-cell">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ row[0] }}</td>
                {% if loop.index == 1 %}
                <td class="bordered-cell right-align-td">$</td>
                <td class="bordered-cell right-align-td">{{ row[1] }}</td>
                <td class="bordered-cell right-align-td">$</td>
                <td class="bordered-cell right-align-td">{{ row[2] }}</td>
                {% else %}
                <td class="bordered-cell right-align-td"></td>
                <td class="bordered-cell right-align-td">{{ row[1] }}</td>
                <td class="bordered-cell right-align-td"></td>
                <td class="bordered-cell right-align-td">{{ row[2] }}</td>
                {% endif %}
            </tr>
        {%  endfor %}
        <tr>
            <td class="bordered-header">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TOTAL: Cash Assets</td>
            <td class="bordered-header right-align-td">$</td>
            <td class="bordered-header right-align-td">{{ cash_assets_total[1] }}</td>
            <td class="bordered-header right-align-td">$</td>
            <td class="bordered-header right-align-td">{{ cash_assets_total[2] }}</td>
        </tr>


        <tr>
            <td class="bordered-header">{{ liquid_assets_total[0] }}</td>
            <td class="bordered-header right-align-td"></td>
            <td class="bordered-header right-align-td"></td>
            <td class="bordered-header right-align-td"></td>
            <td class="bordered-header right-align-td"></td>
        </tr>
        {% for row in display_liquid_assets %}
            <tr>
                <td class="bordered-cell">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ row[0] }}</td>
                {% if loop.index == 1 %}
                <td class="bordered-cell right-align-td">$</td>
                <td class="bordered-cell right-align-td">{{ row[1] }}</td>
                <td class="bordered-cell right-align-td">$</td>
                <td class="bordered-cell right-align-td">{{ row[2] }}</td>
                {% else %}
                <td class="bordered-cell right-align-td"></td>
                <td class="bordered-cell right-align-td">{{ row[1] }}</td>
                <td class="bordered-cell right-align-td"></td>
                <td class="bordered-cell right-align-td">{{ row[2] }}</td>
                {% endif %}
            </tr>
        {%  endfor %}
        <tr>
            <td class="bordered-header">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TOTAL: {{ liquid_assets_total[0] }}</td>
            <td class="bordered-header right-align-td">$</td>
            <td class="bordered-header right-align-td">{{ liquid_assets_total[1] }}</td>
            <td class="bordered-header right-align-td">$</td>
            <td class="bordered-header right-align-td">{{ liquid_assets_total[2] }}</td>
        </tr>



        <tr>
            <td class="bordered-header">{{ illiquid_assets_total[0] }}</td>
            <td class="bordered-header right-align-td"></td>
            <td class="bordered-header right-align-td"></td>
            <td class="bordered-header right-align-td"></td>
            <td class="bordered-header right-align-td"></td>
        </tr>
        {% for row in display_illiquid_assets %}
            <tr>
                <td class="bordered-cell">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ row[0] }}</td>
                {% if loop.index == 1 %}
                <td class="bordered-cell right-align-td">$</td>
                <td class="bordered-cell right-align-td">{{ row[1] }}</td>
                <td class="bordered-cell right-align-td">$</td>
                <td class="bordered-cell right-align-td">{{ row[2] }}</td>
                {% else %}
                <td class="bordered-cell right-align-td"></td>
                <td class="bordered-cell right-align-td">{{ row[1] }}</td>
                <td class="bordered-cell right-align-td"></td>
                <td class="bordered-cell right-align-td">{{ row[2] }}</td>
                {% endif %}
            </tr>
        {%  endfor %}
        <tr>
            <td class="bordered-header">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TOTAL: {{ illiquid_assets_total[0] }}</td>
            <td class="bordered-header right-align-td">$</td>
            <td class="bordered-header right-align-td">{{ illiquid_assets_total[1] }}</td>
            <td class="bordered-header right-align-td">$</td>
            <td class="bordered-header right-align-td">{{ illiquid_assets_total[2] }}</td>
        </tr>


        <tr>
            <td class="bordered-header">{{ contra_assets_total[0] }}</td>
            <td class="bordered-header right-align-td"></td>
            <td class="bordered-header right-align-td"></td>
            <td class="bordered-header right-align-td"></td>
            <td class="bordered-header right-align-td"></td>
        </tr>
        {% for row in display_contra_assets %}
            <tr>
                <td class="bordered-cell">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ row[0] }}</td>
                {% if loop.index == 1 %}
                <td class="bordered-cell right-align-td">$</td>
                <td class="bordered-cell right-align-td">{{ row[1] }}</td>
                <td class="bordered-cell right-align-td">$</td>
                <td class="bordered-cell right-align-td">{{ row[2] }}</td>
                {% else %}
                <td class="bordered-cell right-align-td"></td>
                <td class="bordered-cell right-align-td">{{ row[1] }}</td>
                <td class="bordered-cell right-align-td"></td>
                <td class="bordered-cell right-align-td">{{ row[2] }}</td>
                {% endif %}
            </tr>
        {%  endfor %}
        <tr>
            <td class="bordered-header">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TOTAL: {{ contra_assets_total[0] }}</td>
            <td class="bordered-header right-align-td">$</td>
            <td class="bordered-header right-align-td">{{ contra_assets_total[1] }}</td>
            <td class="bordered-header right-align-td">$</td>
            <td class="bordered-header right-align-td">{{ contra_assets_total[2] }}</td>
        </tr>


        <tr>
            <th class="bordered-header left-align-td">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TOTAL ASSETS</th>
            <th class="bordered-header right-align-td">$</th>
            <th class="bordered-header right-align-td">{{ total_assets[0] }}</th>
            <th class="bordered-header right-align-td">$</th>
            <th class="bordered-header right-align-td">{{ total_assets[1] }}</th>
        </tr>


        <tr>
            <th class="bordered-header"></th>
            <th class="bordered-header">Liabilities and Equity</th>
            <th class="bordered-header"></th>
            <th class="bordered-header"></th>
            <th class="bordered-header"></th>
        </tr>



        <tr>
            <td class="bordered-header">{{ revolving_totals[0] }}</td>
            <td class="bordered-header right-align-td"></td>
            <td class="bordered-header right-align-td"></td>
            <td class="bordered-header right-align-td"></td>
            <td class="bordered-header right-align-td"></td>
        </tr>
        {% for row in display_revolving_liabilities %}
            <tr>
                <td class="bordered-cell">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ row[0] }}</td>
                {% if loop.index == 1 %}
                <td class="bordered-cell right-align-td">$</td>
                <td class="bordered-cell right-align-td">{{ row[1] }}</td>
                <td class="bordered-cell right-align-td">$</td>
                <td class="bordered-cell right-align-td">{{ row[2] }}</td>
                {% else %}
                <td class="bordered-cell right-align-td"></td>
                <td class="bordered-cell right-align-td">{{ row[1] }}</td>
                <td class="bordered-cell right-align-td"></td>
                <td class="bordered-cell right-align-td">{{ row[2] }}</td>
                {% endif %}
            </tr>
        {%  endfor %}
        <tr>
            <td class="bordered-header">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TOTAL: {{ revolving_totals[0] }}</td>
            <td class="bordered-header right-align-td">$</td>
            <td class="bordered-header right-align-td">{{ revolving_totals[1] }}</td>
            <td class="bordered-header right-align-td">$</td>
            <td class="bordered-header right-align-td">{{ revolving_totals[2] }}</td>
        </tr>

        <tr>
            <td class="bordered-header">{{ longterm_totals[0] }}</td>
            <td class="bordered-header right-align-td"></td>
            <td class="bordered-header right-align-td"></td>
            <td class="bordered-header right-align-td"></td>
            <td class="bordered-header right-align-td"></td>
        </tr>
        {% for row in display_longterm_liabilities %}
            <tr>
                <td class="bordered-cell">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ row[0] }}</td>
                {% if loop.index == 1 %}
                <td class="bordered-cell right-align-td">$</td>
                <td class="bordered-cell right-align-td">{{ row[1] }}</td>
                <td class="bordered-cell right-align-td">$</td>
                <td class="bordered-cell right-align-td">{{ row[2] }}</td>
                {% else %}
                <td class="bordered-cell right-align-td"></td>
                <td class="bordered-cell right-align-td">{{ row[1] }}</td>
                <td class="bordered-cell right-align-td"></td>
                <td class="bordered-cell right-align-td">{{ row[2] }}</td>
                {% endif %}
            </tr>
        {%  endfor %}
        <tr>
            <td class="bordered-header">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TOTAL: {{ longterm_totals[0] }}</td>
            <td class="bordered-header right-align-td">$</td>
            <td class="bordered-header right-align-td">{{ longterm_totals[1] }}</td>
            <td class="bordered-header right-align-td">$</td>
            <td class="bordered-header right-align-td">{{ longterm_totals[2] }}</td>
        </tr>


        <tr>
            <td class="bordered-header left-align-td">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TOTAL LIABILITIES</td>
            <td class="bordered-header right-align-td">$</td>
            <td class="bordered-header right-align-td">{{ total_liabilities[0] }}</td>
            <td class="bordered-header right-align-td">$</td>
            <td class="bordered-header right-align-td">{{ total_liabilities[1] }}</td>
        </tr>


        <tr>
            <td class="bordered-header">{{ equity_total[0] }}</td>
            <td class="bordered-header right-align-td"></td>
            <td class="bordered-header right-align-td"></td>
            <td class="bordered-header right-align-td"></td>
            <td class="bordered-header right-align-td"></td>
        </tr>
        {% for row in display_equity %}
            <tr>
                <td class="bordered-cell">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ row[0] }}</td>
                {% if loop.index == 1 %}
                <td class="bordered-cell right-align-td">$</td>
                <td class="bordered-cell right-align-td">{{ row[1] }}</td>
                <td class="bordered-cell right-align-td">$</td>
                <td class="bordered-cell right-align-td">{{ row[2] }}</td>
                {% else %}
                <td class="bordered-cell right-align-td"></td>
                <td class="bordered-cell right-align-td">{{ row[1] }}</td>
                <td class="bordered-cell right-align-td"></td>
                <td class="bordered-cell right-align-td">{{ row[2] }}</td>
                {% endif %}
            </tr>
        {%  endfor %}
        <tr>
            <td class="bordered-header">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TOTAL: {{ equity_total[0] }}</td>
            <td class="bordered-header right-align-td">$</td>
            <td class="bordered-header right-align-td">{{ equity_total[1] }}</td>
            <td class="bordered-header right-align-td">$</td>
            <td class="bordered-header right-align-td">{{ equity_total[2] }}</td>
        </tr>


        <tr>
            <th class="bordered-header left-align-td">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TOTAL LIABILITIES AND EQUITIES</th>
            <th class="bordered-header right-align-td">$</th>
            <th class="bordered-header right-align-td">{{ equity_liab_total[0] }}</th>
            <th class="bordered-header right-align-td">$</th>
            <th class="bordered-header right-align-td">{{ equity_liab_total[1] }}</th>
        </tr>

    </table>
    

    <div class="balance-sheet-options">
        <form action="{{ post_url }}" method="post" novalidate enctype="multipart/form-data">
            {{ submit_form.hidden_tag() }}
            <div class="range-select"> {{ submit_form.on_date(class="input") }} </div>
            <div class="range-select"> {{ submit_form.submit(class="button") }} </div>
        </form>

    </div>

{% endblock %}
