{% extends "base.html" %}

{% block content %}
    <h1>Cash Flow Statement</h1>
    <Hr>
    <header class="main-header">
        <a href="{{ url_for('statements.balance_sheet')}}">Balance Sheet</a>
        <a href="{{ url_for('statements.income_statement')}}">Income Statement</a>
        <a href="{{ url_for('statements.cash_flow_statement')}}">Cash Flow Statement</a>
    </header>
    <Hr>

    <form action="{{ post_url }}" method="post" novalidate enctype="multipart/form-data">
        {{ quarter_form.hidden_tag() }}
        <div class="range-select-container">
            <label for="cash-flow-quarter-select">Year:</label>
            <div id="cash-flow-quarter-select" class="range-select"> {{ quarter_form.year(class="select-css") }} </div>
            <label for="cash-flow-quarter-select">Quarter:</label>
            <div id="cash-flow-quarter-select" class="range-select"> {{ quarter_form.quarter(class="select-css") }} </div>
            <div class="range-select"> {{ quarter_form.update(class="button") }} </div>
        </div>
    </form>

    <table>
        <tr>
            <td class="bordered-header income-statement-header">Cash Flows from Operations</td>
            <td class="bordered-header right-align-td"></td>
            <td class="bordered-header right-align-td"></td>
        </tr>
        {% for row in operating_activities %}
            <tr>
                <td class="bordered-cell income-statement-item">{{ row[0] }}</td>
                {% if loop.index == 1 %}
                <td class="bordered-cell right-align-td income-statement-expense">$</td>
                {% else %}
                <td class="bordered-cell right-align-td income-statement-expense"></td>
                {% endif %}
                <td class="bordered-cell right-align-td income-statement-expense">{{ row[1] }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td class="bordered-header income-statement-item" style="font-style: italic">{{ net_operating_activities[0] }}</td>
            <td class="bordered-header right-align-td income-statement-expense">$</td>
            <td class="bordered-header right-align-td">{{ net_operating_activities[1] }}</td>
        </tr>
        <tr>
            <td class="bordered-header income-statement-header">Cash Flows from Investment</td>
            <td class="bordered-header right-align-td income-statement-expense"></td>
            <td class="bordered-header right-align-td"></td>
        </tr>
        {% for row in investment_activities %}
            <tr>
                <td class="bordered-cell income-statement-item">{{ row[0] }}</td>
                {% if loop.index == 1 %}
                <td class="bordered-cell right-align-td income-statement-expense">$</td>
                {% else %}
                <td class="bordered-cell right-align-td income-statement-expense"></td>
                {% endif %}
                <td class="bordered-cell right-align-td income-statement-expense">{{ row[1] }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td class="bordered-header income-statement-item" style="font-style: italic">{{ net_investment_activities[0] }}</td>
            <td class="bordered-header right-align-td income-statement-expense">$</td>
            <td class="bordered-header right-align-td ">{{ net_investment_activities[1] }}</td>
        </tr>
        <tr>
            <td class="bordered-header income-statement-header">Cash Flows from Financing</td>
            <td class="bordered-header right-align-td income-statement-expense"></td>
            <td class="bordered-header right-align-td"></td>
        </tr>
        {% for row in financing_activities %}
            <tr>
                <td class="bordered-cell income-statement-item">{{ row[0] }}</td>
                {% if loop.index == 1 %}
                <td class="bordered-cell right-align-td income-statement-expense">$</td>
                {% else %}
                <td class="bordered-cell right-align-td income-statement-expense"></td>
                {% endif %}
                <td class="bordered-cell right-align-td income-statement-expense">{{ row[1] }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td class="bordered-header income-statement-item" style="font-style: italic">{{ net_financing_activities[0] }}</td>
            <td class="bordered-header right-align-td income-statement-expense">$</td>
            <td class="bordered-header right-align-td ">{{ net_financing_activities[1] }}</td>
        </tr>
        <tr>
            <td class="bordered-header income-statement-header">Net Cash Flows</td>
            <td class="bordered-header right-align-td income-statement-expense"></td>
            <td class="bordered-header right-align-td"></td>
        </tr>
        {% for row in net_cash %}
            <tr>
                <td class="bordered-cell income-statement-item">{{ row[0] }}</td>
                <td class="bordered-cell right-align-td income-statement-expense">$</td>
                <td class="bordered-cell right-align-td ">{{ row[1] }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
