{% extends "base.html" %}

{% block content %}
<h1>Income Statement</h1>
    <Hr>
    <header class="main-header">
        <a href="{{ url_for('statements.balance_sheet')}}">Balance Sheet</a>
        <a href="{{ url_for('statements.income_statement')}}">Income Statement</a>
        <a href="{{ url_for('statements.cash_flow_statement')}}">Cash Flow Statement</a>
    </header>
    <Hr>

    <form action="{{ post_url }}" method="post" novalidate enctype="multipart/form-data">
        {{ quarter_form.hidden_tag() }}
        <div class="range-select-container">
            <label for="cash-flow-quarter-select">Year:</label>
            <div id="cash-flow-quarter-select" class="range-select"> {{ quarter_form.year(class="select-css") }} </div>
            <label for="cash-flow-quarter-select">Quarter:</label>
            <div id="cash-flow-quarter-select" class="range-select"> {{ quarter_form.quarter(class="select-css") }} </div>
            <div class="range-select"> {{ quarter_form.update(class="button") }} </div>
        </div>
    </form>

    <table>
        <tr>
            <td class="bordered-header income-statement-header">Revenues</td>
            <td class="bordered-header right-align-td"></td>
            <td class="bordered-header right-align-td"></td>
        </tr>
        {% if gross_revenue %}
            {% for row in revenues %}
            <tr>
                <td class="bordered-cell income-statement-item">{{ row[0] }}</td>
                {% if loop.index == 1 %}
                <td class="bordered-cell right-align-td income-statement-expense">$</td>
                {% else %}
                <td class="bordered-cell right-align-td income-statement-expense"></td>
                {% endif %}
                <td class="bordered-cell right-align-td income-statement-expense">{{ row[1] }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td class="bordered-header income-statement-header">Gross Revenue</td>
                <td class="bordered-header right-align-td income-statement-expense">$</td>
                <td class="bordered-header right-align-td">{{ gross_revenue[1] }}</td>
            </tr>
        {% endif %}
        {% if op_expenses %}
            <tr>
                <td class="bordered-header income-statement-header">Operating Expenses</td>
                <td class="bordered-header right-align-td"></td>
                <td class="bordered-header right-align-td"></td>
            </tr>
            {% for row in op_expenses %}
                <tr>
                    <td class="bordered-cell income-statement-item">{{ row[0] }}</td>
                    {% if loop.index == 1 %}
                    <td class="bordered-cell right-align-td income-statement-expense">$</td>
                    {% else %}
                    <td class="bordered-cell right-align-td income-statement-expense"></td>
                    {% endif %}
                    <td class="bordered-cell right-align-td income-statement-expense">{{ row[1] }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        <tr>
            <td class="bordered-header income-statement-header">Operating Profit</td>
            <td class="bordered-header income-statement-expense right-align-td">$</td>
            <td class="bordered-header right-align-td">{{ op_profit[1] }}</td>
        </tr>
        {% if gains %}
        <tr>
            <td class="bordered-header income-statement-header">Financial Gains</td>
            <td class="bordered-header right-align-td"></td>
            <td class="bordered-header right-align-td"></td>
        </tr>
            {% for row in gains %}
                <tr>
                    <td class="bordered-cell income-statement-item">{{ row[0] }}</td>
                    {% if loop.index == 1 %}
                    <td class="bordered-cell right-align-td income-statement-expense">$</td>
                    {% else %}
                    <td class="bordered-cell right-align-td income-statement-expense"></td>
                    {% endif %}
                    <td class="bordered-cell right-align-td">{{ row[1] }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        <tr>
            <td class="bordered-header income-statement-header">Pre-tax Income</td>
            <td class="bordered-header income-statement-expense right-align-td">$</td>
            <td class="bordered-header right-align-td">{{ pre_tax_income[1] }}</td>
        </tr>
        {% if cont_op_expenses %}
            <tr>
                <td class="bordered-header income-statement-header">Continued Operation Expenses</td>
                <td class="bordered-header right-align-td"></td>
                <td class="bordered-header right-align-td"></td>
            </tr>
            {% for row in cont_op_expenses %}
                <tr>
                    <td class="bordered-cell income-statement-item">{{ row[0] }}</td>
                    {% if loop.index == 1 %}
                    <td class="bordered-cell right-align-td income-statement-expense">$</td>
                    {% else %}
                    <td class="bordered-cell right-align-td income-statement-expense"></td>
                    {% endif %}
                    <td class="bordered-cell right-align-td income-statement-expense">{{ row[1] }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        <tr>
            <td class="bordered-header income-statement-header">Income</td>
            <td class="bordered-header income-statement-expense right-align-td">$</td>
            <td class="bordered-header right-align-td">{{ income[1] }}</td>
        </tr>


    </table>
{% endblock %}
