{% extends "base.html" %}

{% block content %}
<h1>Statements</h1>
    <Hr>
    <header class="main-header">
        <a href="{{ url_for('statements.balance_sheet')}}">Balance Sheet</a>
        <a href="{{ url_for('statements.income_statement')}}">Income Statement</a>
        <a href="{{ url_for('statements.cash_flow_statement')}}">Cash Flow Statement</a>
    </header>
    <Hr>
{% endblock %}
