{% extends "base.html" %}

{% block content %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>

<h1>FinHub Dashboard</h1>
    <h3>Approximate Net Worth Over Time</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="chart" id="net_worth">
                    <script>
                        let net_worth = {{ net_worth_plot | safe }};
                        Plotly.plot('net_worth', net_worth, {});
                    </script>

                </div>
            </div>
        </div>
    </div>
    <h3>Margins Over Time</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="chart" id="margins">
                    <script>
                        let margins = {{ margins_plot | safe }};
                        Plotly.plot('margins', margins, {});
                    </script>

                </div>
            </div>
        </div>
    </div>

    <h3>Earnings and OCI Over Time</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="chart" id="oci">
                    <script>
                        let oci = {{ unrealized_gains_plot | safe }};
                        Plotly.plot('oci', oci, {});
                    </script>

                </div>
            </div>
        </div>
    </div>

    <h3>Distribution of Accounts</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <canvas id="asset-pie" width="600" height="400"></canvas>
                    <script>
                        let pieData = [
                            {% for account in asset_distribution %}
                              {
                                value: {{account['value']}},
                                label: "{{account['label']}}",
                                color: "{{account['color']}}"
                              },
                            {% endfor %}
                          ];

                        // get bar chart canvas
                        let mychart = document.getElementById("asset-pie").getContext("2d");
                        steps = 10;

                        // draw pie chart
                        new Chart(document.getElementById("asset-pie").getContext("2d")).Pie(pieData);
                    </script>
            </div>
        </div>
    </div>

    <h3>Operating Expenses Over Time</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="chart" id="op-expenses">
                    <script>
                        let opExp = {{operating_expenses_plot | safe}};
                        Plotly.plot('op-expenses', opExp, {});
                    </script>

                </div>
            </div>
        </div>
    </div>

    <h3>Histograms</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="chart" id="histograms-plot">
                    <script>
                        let hist = {{histograms_plot | safe}};
                        Plotly.plot('histograms-plot', hist, {});
                    </script>

                </div>
            </div>
        </div>
    </div>
{% endblock %}